extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nisi adipisci tempore excepturi, aliquid pariatur aut dicta odit! Corrupti fugit dolor recusandae itaque similique ad minus explicabo, in quas doloribus.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda rerum reprehenderit sunt doloribus ipsam totam laboriosam facere quis voluptatum. Rem accusantium amet dolor aperiam nihil repudiandae odit beatae, quos alias molestias ratione consectetur veniam officiis eligendi! Dignissimos, nemo tenetur? Ratione.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, id aliquam. Ipsam in cumque ut eveniet odit, ex odio, suscipit minima reprehenderit, unde esse delectus error sit sequi officiis excepturi 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quae quo earum deleniti dignissimos possimus, temporibus alias vero commodi libero!
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_seguridad.svg")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi optio a nam, repudiandae numquam reprehenderit! Sequi illum assumenda reprehenderit fugit, corrupti odit? Ab sed dolor aperiam assumenda facere tenetur eum?
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_destinos.svg")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi optio a nam, repudiandae numquam reprehenderit! Sequi illum assumenda reprehenderit fugit, corrupti odit? Ab sed dolor aperiam assumenda facere tenetur eum?
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_precios.svg")
                    h2.mb-4 Mejores precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi optio a nam, repudiandae numquam reprehenderit! Sequi illum assumenda reprehenderit fugit, corrupti odit? Ab sed dolor aperiam assumenda facere tenetur eum?